
<div class="tech-btm">
    <h4>Mail Bültenine Abone Ol</h4>
    <p>Teknoloji,Yazılım vb. </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" , name="mail">
        <input type="submit" value="Subscribe">
    </form>
</div>