
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Department</td>
    </tr>
    <tr>
        <th>1</th>
        <th>Ali</th>
        <th>Software</th>
    </tr>
    <tr>
        <th>2</th>
        <th>John</th>
        <th>Designer</th>
    </tr>
</table>
